body {
	background:url(../../images/Stone.jpg) fixed;
	padding:0px;
	margin:0px;
	color:#ffffff;	
	cursor:default;
}
table {
	color:#333333;
}
body, table {
	font-family:"Verdana";
	font-size:12px;
}
a:link, a:visited, a:active {
	color:#518612;
	text-decoration:none;
	font-weight:bold;
}
a:hover {
	color:#95d14d;	
	text-decoration:none;
}

h1 {
	color:#2367c3;
	margin:5px 0 5px 0;
	padding-bottom:8px;
	border-bottom:#333333 solid 1px;
}
h2 {
	font-size:25px;
	color:#2367c3;
	text-align:center;
	margin:0px;
	padding:5px;	
	width:80%;
}
h2:hover {
	text-decoration:underline;
}
h3 {
	font-size:140%;
	color:#333333;
	margin:0 0 10px 0;
	border-bottom:#CCC solid 1px;
	padding:0 0 5px 10px;
}
h4 {
	font-size:100%;
	margin:10px 0 5px 0;
}
h5 {
	font-size:180%;
	color:#333333;
	margin:10px 0 10px 0;
}
hr {
	margin:10px 0 10px 0;	
}
input[type=text], textarea {
	border:#CCC dashed 1px;
	background-color:#fafafa;
	color:#333333;
	font-size:12px;
	resize:none;
}